:root {
	font-family: sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.content {
	max-width: 512px;
	padding: 1rem;
}
.article-list {
	list-style: none;
	padding-left: 0;
}
.article-title {
	margin-bottom: 0;
}
